.header-container {
  display: flex;
  align-items: center;

  h1 {
    font-size: 34px;
    color: var(--color-primary);
  }

  .badge {
    width: 19px;
    min-width: 19px;
    height: 19px;
    margin: 0 16px;
    background-color: var(--color-red);
  }
}
