@use 'scss/vars' as *;
@use 'scss/fonts' as *;
@use 'sass:color';

:root {
  --color-primary: #{$color-primary};
  --color-primary-light: #{color.scale($color-primary, $lightness: 50%)};
  --color-basic: #{$color-basic};
  --color-red: #{$color-red};
  --color-red-dark: #{color.scale($color-red, $lightness: -20%)};
  --color-red-light: #{color.scale($color-red, $lightness: 95%)};

  --indent-base: #{$indent-base};
  --indent-element: #{$indent-element};
  --indent-section: #{$indent-section};
}

* {
  font-family: #{$font-primary};
}
